{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}

<h3></h3>
<h3>{% current_time '%b %d %Y' %}</h3>

{% if is_not_subscriber %}
<p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться на категорию "{{category}}"</a></p>
{% else %}
       <h2>Вы уже подписаны на категорию "{{category}}"</h2>
{% endif %}



   {% if posts %}
       <table>
           <tr>
               <td>Название</td>
               <td>Дата</td>
               <td>Текст</td>
               <td>Тип</td>
               <td>Категория</td>
               {% if perms.newses.news_update or perms.newses.article_delete %}
                <td>Действия</td>
                {% endif %}
           </tr>

           <!-- Для каждого товара будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           product — переменная цикла, т.е. наш товар полученный из списка -->
           {% for post in posts %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ post.title|censor }}</td>
               <td>{{ post.post_time|date:'M d Y' }}</td>
               <td>{{ post.text|censor|truncatewords:20 }}</td>
               <td>{{ post.post_type }}</td>
               <td>{% for category in post.category.all %}
               <a href="{% url 'category_list' category.id %}">{{category}}</a>
                   {% endfor %}
               </td>

               <td>
                   {% if perms.newses.news_update %}
                   <a href="{% url 'news_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                   {% if perms.newses.news_delete %}
                    <a href="{% url 'news_delete' post.id %}">Удалить</a>
                    {% endif %}

               </td>


           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2></h2>
   {% endif %}
   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}


{% if is_not_subscriber %}
<p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
{% endif %}